In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Data/pseudo_facebook.csv")

In [3]:
df.tail()

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
98998,1268299,68,4,1945,4,female,541.0,2118,341,3996,18089,3505,11887,491,6202
98999,1256153,18,12,1995,3,female,21.0,1968,1720,4401,13412,4399,10592,2,2820
99000,1195943,15,10,1998,5,female,111.0,2002,1524,11959,12554,11959,11462,0,1092
99001,1468023,23,11,1990,4,female,416.0,2560,185,4506,6516,4506,5760,0,756
99002,1397896,39,15,1974,5,female,397.0,2049,768,9410,12443,9410,9530,0,2913

In [4]:
categorical = ('gender')

In [5]:
df['gender'] = df['gender'].astype('category')

In [6]:
def get_spans(df, partition, scale=None):
    """
    :param        df: the dataframe for which to calculate the spans
    :param partition: the partition for which to calculate the spans
    :param     scale: if given, the spans of each column will be divided
                      by the value in `scale` for that column
    :        returns: The spans of all columns in the partition
    """
    spans = {}
    for column in df.columns:
        if column in categorical:
            span = len(df[column][partition].unique())
        else:
            span = df[column][partition].max()-df[column][partition].min()
        if scale is not None:
            span = span/scale[column]
        spans[column] = span
    return spans

In [7]:
full_spans = get_spans(df, df.index)
full_spans

{'userid': 1193534,
 'age': 100,
 'dob_day': 30,
 'dob_year': 100,
 'dob_month': 11,
 'gender': 3,
 'tenure': 3139.0,
 'friend_count': 4923,
 'friendships_initiated': 4144,
 'likes': 25111,
 'likes_received': 261197,
 'mobile_likes': 25111,
 'mobile_likes_received': 138561,
 'www_likes': 14865,
 'www_likes_received': 129953}

In [8]:
def split(df, partition, column):
    """
    :param        df: The dataframe to split
    :param partition: The partition to split
    :param    column: The column along which to split
    :        returns: A tuple containing a split of the original partition
    """
    dfp = df[column][partition]
    if column in categorical:
        values = dfp.unique()
        lv = set(values[:len(values)//2])
        rv = set(values[len(values)//2:])
        return dfp.index[dfp.isin(lv)], dfp.index[dfp.isin(rv)]
    else:        
        median = dfp.median()
        dfl = dfp.index[dfp < median]
        dfr = dfp.index[dfp >= median]
        return (dfl, dfr)

In [9]:
def is_k_anonymous(df, partition, sensitive_column, k=3):
    """
    :param               df: The dataframe on which to check the partition.
    :param        partition: The partition of the dataframe to check.
    :param sensitive_column: The name of the sensitive column
    :param                k: The desired k
    :returns               : True if the partition is valid according to our k-anonymity criteria, False otherwise.
    """
    if len(partition) < k:
        return False
    return True

def partition_dataset(df, feature_columns, sensitive_column, scale, is_valid):
    """
    :param               df: The dataframe to be partitioned.
    :param  feature_columns: A list of column names along which to partition the dataset.
    :param sensitive_column: The name of the sensitive column (to be passed on to the `is_valid` function)
    :param            scale: The column spans as generated before.
    :param         is_valid: A function that takes a dataframe and a partition and returns True if the partition is valid.
    :returns               : A list of valid partitions that cover the entire dataframe.
    """
    finished_partitions = []
    partitions = [df.index]
    while partitions:
        partition = partitions.pop(0)
        spans = get_spans(df[feature_columns], partition, scale)
        for column, span in sorted(spans.items(), key=lambda x:-x[1]):
            lp, rp = split(df, partition, column)
            if not is_valid(df, lp, sensitive_column) or not is_valid(df, rp, sensitive_column):
                continue
            partitions.extend((lp, rp))
            break
        else:
            finished_partitions.append(partition)
    return finished_partitions

In [10]:
# we apply our partitioning method to two columns of our dataset, using "income" as the sensitive attribute
feature_columns = ['friend_count', 'likes']
sensitive_column = 'age'
finished_partitions = partition_dataset(df, feature_columns, sensitive_column, full_spans, is_k_anonymous)

In [11]:
# we get the number of partitions that were created
len(finished_partitions)

14700

In [12]:
def agg_categorical_column(series):
    return [','.join(set(series))]

def agg_numerical_column(series):
    return [series.mean()]

In [13]:
def build_anonymized_dataset(df, partitions, feature_columns, sensitive_column, max_partitions=None):
    aggregations = {}
    for column in feature_columns:
        if column in categorical:
            aggregations[column] = agg_categorical_column
        else:
            aggregations[column] = agg_numerical_column
    rows = []
    for i, partition in enumerate(partitions):
        if i % 100 == 1:
            print("Finished {} partitions...".format(i))
        if max_partitions is not None and i > max_partitions:
            break
        grouped_columns = df.loc[partition].agg(aggregations, squeeze=False)
        sensitive_counts = df.loc[partition].groupby(sensitive_column).agg({sensitive_column : 'count'})
        values = grouped_columns.iloc[0].to_dict()
        for sensitive_value, count in sensitive_counts[sensitive_column].items():
            if count == 0:
                continue
            values.update({
                sensitive_column : sensitive_value,
                'count' : count,

            })
            rows.append(values.copy())
    return pd.DataFrame(rows)

In [14]:
dfn = build_anonymized_dataset(df, finished_partitions, feature_columns, sensitive_column)

Finished 1 partitions...
Finished 101 partitions...
Finished 201 partitions...
Finished 301 partitions...
Finished 401 partitions...
Finished 501 partitions...
Finished 601 partitions...
Finished 701 partitions...
Finished 801 partitions...
Finished 901 partitions...
Finished 1001 partitions...
Finished 1101 partitions...
Finished 1201 partitions...
Finished 1301 partitions...
Finished 1401 partitions...
Finished 1501 partitions...
Finished 1601 partitions...
Finished 1701 partitions...
Finished 1801 partitions...
Finished 1901 partitions...
Finished 2001 partitions...
Finished 2101 partitions...
Finished 2201 partitions...
Finished 2301 partitions...
Finished 2401 partitions...
Finished 2501 partitions...
Finished 2601 partitions...
Finished 2701 partitions...
Finished 2801 partitions...
Finished 2901 partitions...
Finished 3001 partitions...
Finished 3101 partitions...
Finished 3201 partitions...
Finished 3301 partitions...
Finished 3401 partitions...
Finished 3501 partitions...
Finished 3601 partitions...
Finished 3701 partitions...
Finished 3801 partitions...
Finished 3901 partitions...
Finished 4001 partitions...
Finished 4101 partitions...
Finished 4201 partitions...
Finished 4301 partitions...
Finished 4401 partitions...
Finished 4501 partitions...
Finished 4601 partitions...
Finished 4701 partitions...
Finished 4801 partitions...
Finished 4901 partitions...
Finished 5001 partitions...
Finished 5101 partitions...
Finished 5201 partitions...
Finished 5301 partitions...
Finished 5401 partitions...
Finished 5501 partitions...
Finished 5601 partitions...
Finished 5701 partitions...
Finished 5801 partitions...
Finished 5901 partitions...
Finished 6001 partitions...
Finished 6101 partitions...
Finished 6201 partitions...
Finished 6301 partitions...
Finished 6401 partitions...
Finished 6501 partitions...
Finished 6601 partitions...
Finished 6701 partitions...
Finished 6801 partitions...
Finished 6901 partitions...
Finished 7001 partitions...
Finished 7101 partitions...
Finished 7201 partitions...
Finished 7301 partitions...
Finished 7401 partitions...
Finished 7501 partitions...
Finished 7601 partitions...
Finished 7701 partitions...
Finished 7801 partitions...
Finished 7901 partitions...
Finished 8001 partitions...
Finished 8101 partitions...
Finished 8201 partitions...
Finished 8301 partitions...
Finished 8401 partitions...
Finished 8501 partitions...
Finished 8601 partitions...
Finished 8701 partitions...
Finished 8801 partitions...
Finished 8901 partitions...
Finished 9001 partitions...
Finished 9101 partitions...
Finished 9201 partitions...
Finished 9301 partitions...
Finished 9401 partitions...
Finished 9501 partitions...
Finished 9601 partitions...
Finished 9701 partitions...
Finished 9801 partitions...
Finished 9901 partitions...
Finished 10001 partitions...
Finished 10101 partitions...
Finished 10201 partitions...
Finished 10301 partitions...
Finished 10401 partitions...
Finished 10501 partitions...
Finished 10601 partitions...
Finished 10701 partitions...
Finished 10801 partitions...
Finished 10901 partitions...
Finished 11001 partitions...
Finished 11101 partitions...
Finished 11201 partitions...
Finished 11301 partitions...
Finished 11401 partitions...
Finished 11501 partitions...
Finished 11601 partitions...
Finished 11701 partitions...
Finished 11801 partitions...
Finished 11901 partitions...
Finished 12001 partitions...
Finished 12101 partitions...
Finished 12201 partitions...
Finished 12301 partitions...
Finished 12401 partitions...
Finished 12501 partitions...
Finished 12601 partitions...
Finished 12701 partitions...
Finished 12801 partitions...
Finished 12901 partitions...
Finished 13001 partitions...
Finished 13101 partitions...
Finished 13201 partitions...
Finished 13301 partitions...
Finished 13401 partitions...
Finished 13501 partitions...
Finished 13601 partitions...
Finished 13701 partitions...
Finished 13801 partitions...
Finished 13901 partitions...
Finished 14001 partitions...
Finished 14101 partitions...
Finished 14201 partitions...
Finished 14301 partitions...
Finished 14401 partitions...
Finished 14501 partitions...
Finished 14601 partitions...

In [29]:
# we sort the resulting dataframe using the feature columns and the sensitive attribute
k_res=dfn.sort_values(feature_columns+[sensitive_column])
k_res

       friend_count       likes  age  count
0              0.00    0.092156   13     21
1              0.00    0.092156   14     44
2              0.00    0.092156   15     47
3              0.00    0.092156   16     42
4              0.00    0.092156   17     37
...             ...         ...  ...    ...
57564       4794.25  111.000000   33      1
50026       4870.25    8.500000   61      1
50027       4870.25    8.500000   66      1
50028       4870.25    8.500000  103      1
50029       4870.25    8.500000  108      1

[70869 rows x 4 columns]

In [32]:
k_hidden_failure=0
for index, row in k_res.iterrows():
    i_count=i_count+1
    if row['count']<3:
        k_hidden_failure=k_hidden_failure+1
print(k_hidden_failure)

67044

In [19]:
ori = pd.read_csv("Data/pseudo_facebook.csv")
diff_out = pd.read_csv("Data/diff_out.csv")